*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: skyblue;
}
html{
    font-size: 62.5%;
    font-family: 'Merriweather Sans', sans-serif;
}
.H-greet{

    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    h1{
        background-color: white;
        padding: 5rem 5rem 5rem 5rem;
        border: 1px solid white;
        border-radius: 1rem;
        text-align: center;
        font-size: 5rem;
        color: peachpuff;
    }
}